---
layout: project-nav
---
%h1 Windup is now available! 
:markdown
  Get started with WindUp today through the ZIP or TAR.GZ downloads available below.

.row
  .span6.text-center
    %a.btn(href="http://download.jboss.org/windup") Zip Download
    %br 123.MB
  .span6.text-center
    %a.btn(href="http://download.jboss.org/windup") TAR.GZ Download
    %br 123.4MB

%h1 Source
:markdown
    The WindUp source code is readily accessible. If you plan on contributing to the project, we encourage you to clone the modules that interests you and build it. If you just want to browse the source, or track the latest activity, you can do so by visiting the [Git Repository](https://github.com/windup/windup) in your web browser.

%a(href='https://github.com/windup/windup')
  %img(src="#{site.base_url}/images/octocat_social.png" style='vertical-align: middle;')
%strong
  Coding has become social!
  %a(href='https://github.com/windup/windup') Fork us!



:markdown
  Now that you know where to find the code, you can learn about the various modules in the project and even check in on the latest activity (bugs, feature requests, commits) or the status of the builds.

