---
layout: base
---
.row
  .span8
    %h1 How can I help with Windup?
  .span4
    %a(href='https://github.com/windup/windup')
      %img(src="#{site.base_url}/images/octocat_social.png" style='vertical-align: middle;')
    %strong
      Coding has become social!
      %a(href='https://github.com/windup/windup') Fork us!

:markdown
  ===========================

  There are several different ways in which you can help improve WindUp:

  * It can be as simple as hanging out in the [user forums](https://community.jboss.org/en/windup?view=discussions) and helping other users by answering their questions. 
  * Helping by creating articles related to WindUp usage
  * Add to our documentation through the [GitHub wiki](https://github.com/windup/windup/wiki)
  * Trying out WindUp on your applications and [report any issues](https://community.jboss.org/en/windup?view=discussions)
  * Providing patches or getting involved in the development activities
    * [Fork our code](https://github.com/windup/windup) on GitHub to provide patches
    * Get involved with the development join (windup-dev@lists.jboss.org)[https://lists.jboss.org/mailman/listinfo/windup-dev]
    * (Join)[http://webchat.freenode.net/?channels=#windup] our IRC channel on FreeNode: #windup
  * Any other possible way you can think of. All help is welcome!

  I’m not familiar with GitHub
  ============================
  [Learn the basics](https://help.github.com/categories/54/articles) of GitHub. If you need to learn how to use GitHub to contribute documentation, listen to the video below about how to fork and submit pull requests for your changes. You can also read more about the [Markdown language](http://daringfireball.net/projects/markdown/syntax) to learn about how to write documenation on GitHub.

.row
  .offset3.span4
    %iframe(width="400" height="225" src="http://www.youtube.com/embed/75_UrC2unv4" frameborder="0" allowfullscreen)

